* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* ************************************ */
  Spinner {
    background-color: black !important;
    width: 100vw;
    height: 100vh;
  }
  
  p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 5rem;
  }
  .app__spinner {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../src/images/sunset.jpg') !important; */
    background-color: rgba(190, 176, 176, 0.4);
    /* color: light; */
  }
  .app {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: url('../src/images/sunset.jpg') !important; */
    background-color: rgba(190, 176, 176, 0.4);
    color: whitesmoke;
  }
  
  /* .app:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  } */
  
  /* .app .search {
    text-align: center;
    padding: 1rem;
  }
  
  .app input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
  } */
  
  ::placeholder {
    color: #f8f8f8;
  }
  
  .container {
    max-width: 350px;
    height: 580px;
    margin: 0 auto;
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
  
  }
  
  .app .top {
    width: 93%;
    margin: 1rem auto;
    text-align: center;
    align-content: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    /* margin: 0 auto; */
  }

  .buttons__container {
    display: flex;
    flex-direction: row;
    width: 7rem;
    position: relative;
    top: 0px;
    justify-content: space-evenly;
    margin: 1rem auto;
  }
  
  button{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding-inline: .5rem;
    margin-bottom: 1rem;
  }

  .location p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .7rem;
    max-width: 20rem;
    max-height: 3rem;
  }
  
  .iconImage {
    position: relative;
    width: 10rem;
    height: 10rem;
    bottom: 30px;
  }
  
  .app .despcription {
    position: relative;
    bottom: 20px;
    text-transform: capitalize;
    font-weight: bolder;
  }
  
  .app .bottom {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 93%;
    margin: .7rem auto;
    padding: .5rem;
    padding-inline: .2rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 10px;
  }
  
  .bold {
    font-weight: 600;
  }